<div class="container home">
  <div class="row">
    <div class="col-md-6 text-right">
      <img src="../../assets/images/celulares.jpg" class="img-responsive" />
    </div>

    <div class="col-md-4 rounded painel-login">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <img src="../../assets/images/logo1.jpg" class="img-responsive" />
              </div>
              <br />

              <form [formGroup]="formLogin">
                <div class="form-group">
                  <label class="font-weight-bold text-white">Nome de usuário *</label>
                  <input type="text" name="nome" class="form-control" required formControlName="nome" />
                </div>

                <div class="form-group">
                  <label class="font-weight-bold text-white">Senha *</label>
                  <input type="password" name="senha" class="form-control" formControlName="senha" required/>
                </div>
                <hr>
                <div class="form-group text-center">
                  <button class="btn btn-success btn-block" (click)="login()">Entrar</button>
                  <br>
                  <a routerLink="/cadastrar" class="text-warning">Cadastrar-se</a>
                </div>
                <hr>
                <div class="form-group">
                  <div class="row justify-content-center">
                    <a routerLink="/home">
                      <button class="btn btn-primary">Entrar com o Facebook</button>
                    </a>
                  </div>
                  <div class="row justify-content-center mt-2">
                    <a routerLink="/home">
                      <button class="btn btn-danger">Entrar com o Google</button>
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
