<nav class="navbar fixed-top navbar-light navbar-light" id="nav">
  <a class="navbar-brand" routerLink="/">
    <img src="../../assets/images/logo2.jpg" width="150" height="60" alt="">
  </a>
  <form [formGroup] class="form-inline my-2 my-lg-0">
    <img src="../../assets/images/incluir.jpg" class="mr-5" alt="" (click)="post()">
  </form>
</nav>

<div class="container-fluid posts" id="posts">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="jumbotron">
        <h1 class="display-4">Olá, mundo!</h1>
        <p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou informação.</p>
        <hr class="my-4">
        <p>Ele usa classes utilitárias para tipografia e espaçamento de conteúdo, dentro do maior container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Envio -->
<div class="container-fluid modal" id="modal">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header text-center text-white bg-dark">
          Realize uma publicação no seu perfil
          <button type="button" class="close text-white" title="Fechar" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <form [formGroup]="formPosts">
            <div class="form-group">
              <label>Escolha uma foto</label>
              <input type="file" class="form-control" name="arqs" accept=".png, .jpg, .jpeg" required
                formControlName="arquivo" (change)="insertFiles($event.target.files)">
              <small class="form-text text-muted">
                Enviar imagens no formato <b>jpeg ou png</b>.
              </small>
            </div>
            <div class="form-group">
              <label>Descrição</label>
              <input type="text" class="form-control" name="desc" required
                formControlName="descricao">
            </div>
          </form>
        </div>
        <div class="card-footer text-right bg-dark">
          <button type="button" class="btn btn-success" (click)="onSubmit()">Enviar 
            <i class="fa fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
