.navbar {
  background-color: #fff;

  img {
    cursor: pointer;
  }
}

.posts {
  margin-top: 120px;

  img {
    width: 100% !important;
    height: 100% !important;
  }

  i:not(.fa-calendar) {
    cursor: pointer;
  }
}

.modal {
  display: none;
  margin: 100px auto;
  height: 100vh;

  .card {
    border: solid 1px #000;
  }

  input[type=file] {
    height: 45px;
  }
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

.fa-heart {
  color: red;
}
