<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>MMORPG - Game of Thrones</title>
    <script src="js/jquery-3.5.1.js"></script>
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body class="body-index">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <form class="form-inline form-entrar">
          <div class="form-group">
            <a href="/"><button type="button" class="btn btn-success">Voltar</button></a>
          </div>
        </form>
      </div>
    </nav>

    <div class="container">
      <% if(validacao.length > 0) { %>
        <div class="alert alert-danger">
          <b>Atenção</b>
          <ul>
            <% for(let i=0; i<validacao.length; i++) { %>
              <li><%= validacao[i].msg %></li>
            <% } %>
          </ul>
        </div>
      <% } %>
      <form class="form-cadastro" action="/cadastrar" method="POST">
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <label for="nome" class="col-sm-2 col-form-label">Nome</label>
              <input type="nome" class="form-control" value="<%=dadosForm.nome%>" placeholder="Nome" name="nome" />
            </div>
          </div>

          <div class="col-xs-4">
            <div class="form-group">
              <label for="usuario" class="col-sm-2 col-form-label">Usuário</label>
              <input type="usuario" class="form-control" value="<%=dadosForm.usuario%>" placeholder="Usuário" name="usuario" />
            </div>
          </div>

          <div class="col-xs-4">
            <div class="form-group">
              <label for="senha" class="col-sm-2 col-form-label">Senha</label>
              <input type="password" class="form-control" value="<%=dadosForm.senha%>" placeholder="Password" name="senha"
              />
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-2">
            <label for="arryn">
              <img src="images/casa_arryn.jpg" class="img-responsive img-radio" />
              <input type="radio" id="arryn" name="casa" value="arryn" />
                Casa Arryn
            </label>
          </div>

          <div class="col-xs-2">
            <label for="baratheon">
              <img src="images/casa_baratheon.jpg" class="img-responsive img-radio" />
              <input type="radio" id="baratheon" name="casa" value="baratheon" />
                Casa Baratheon
            </label>
          </div>

          <div class="col-xs-2">
            <label for="greyjoy">
              <img src="images/casa_greyjoy.jpg" class="img-responsive img-radio" />
              <input type="radio" id="greyjoy" name="casa" value="greyjoy" />
                Casa Greyjoy
            </label>
          </div>

          <div class="col-xs-2">
            <label for="lannister">
              <img src="images/casa_lannister.jpg" class="img-responsive img-radio" />
              <input type="radio" id="lannister" name="casa" value="lannister" />
              Casa Lannister
            </label>
          </div>

          <div class="col-xs-2">
            <label for="martell">
              <img src="images/casa_martell.jpg" class="img-responsive img-radio" />
              <input type="radio" id="martell" name="casa" value="martell" />
                Casa Martell
            </label>
          </div>

          <div class="col-xs-2">
            <label for="stark">
              <img src="images/casa_stark.jpg" class="img-responsive img-radio" />
              <input type="radio" id="stark" name="casa" value="stark" />
                Casa Stark
            </label>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-3"></div>

          <div class="col-xs-2">
            <label for="targaryen">
              <img src="images/casa_targaryen.jpg" class="img-responsive img-radio" />
              <input type="radio" id="targaryen" name="casa" value="targaryen" />
                Casa Targaryen
            </label>
          </div>

          <div class="col-xs-2">
            <label for="tully">
              <img src="images/casa_tully.jpg" class="img-responsive img-radio" />
              <input type="radio" id="tully" name="casa" value="tully" />
                Casa Tully
            </label>
          </div>

          <div class="col-xs-2">
            <label for="tyrell">
              <img src="images/casa_tyrell.jpg" class="img-responsive img-radio"/>
              <input type="radio" id="tyrell" name="casa" value="tyrell" />
                Casa Tyrell
            </label>
          </div>

          <div class="col-xs-3"></div>
        </div>

        <div style="padding: 5px;">
          <button type="submit" class="btn btn-primary btn-confirm">Confirmar cadastro</button>
        </div>
      </form>
    </div>
  </body>
</html>
