<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Multiroom Chat</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Multiroom Chat</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navBar"
        aria-controls="navBar"
        aria-expanded="false"
        aria-label="Alterna navegação"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navBar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" id="chat_link">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="participantes_link">Participantes</a>
          </li>
        </ul>
        <a href="/" class="btn btn-danger btn-sm">Sair</a>
      </div>
    </nav>

    <div class="container">
      <div class="container">
        <div class="row conversa" id="conversa">
          <div class="col-md-1"></div>
          <div class="col-md-10" id="dialogos"></div>
          <div class="col-md-1"></div>
        </div>
  
        <div class="row participantes" id="participantes" style="display: none;">
          <div class="col-md-1"></div>
          <div class="col-md-10" id="pessoas"></div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>

    <nav
      class="navbar navbar-expand-lg navbar-info bg-info fixed-bottom"
      role="navigation"
    >
      <div class="container-fluid">
        <div class="panel-body campo-mensagem">
          <div class="col-md-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Mensagem" id="mensagem"/>
              <input
                type="hidden" value="<%=dadosForm.apelido%>" id="apelido" />
              <input
                type="hidden" value="0" id="apelido_atualizado_nos_clientes" />
              <div class="input-group-append">
                <span class="input-group-text bg-success text-white" id="send">Enviar >></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      let socket = io("http://localhost:3000");
      
      $('#send').click(function () {
        socket.emit('msgParaServidor', {              /* envia */
          apelido: $('#apelido').val(),
          mensagem: $('#mensagem').val(),
          apelido_atualizado_nos_clientes: $('#apelido_atualizado_nos_clientes').val(),
        });

        $('#mensagem').val('');
        $('#apelido_atualizado_nos_clientes').val(1); // autaliza para não mostrar na lista
      });

      socket.on('msgParaCliente', function (data) {   /* recebe */
        let html = '';

        html += '<div class="dialogo">';
        html += '<h4 class="text-primary"><img id="user" src="images/user.png">' + data.apelido + '</h4>';
        html += '<p>' + data.mensagem + '</p>';
        html += '</div>';

        $('#dialogos').append(html);

        window.scrollTo(0, document.body.scrollHeight);
      });

      socket.on('participantesParaCliente', function (data) {
        let html = '';

        html += '<span class="participante">';
        html += '<img class="pr-2" src="images/ico_usuario.png">';
        html += data.apelido;
        html += '</span>';

        $('#pessoas').append(html);
      });

      $(() => {
        $('#chat_link').addClass('active');

        $('#chat_link').on('click', () => {
          $('#conversa').show();
          $('#participantes').hide();
          $('#chat_link').addClass('active');
          $('#participantes_link').removeClass('active');
        });

        $('#participantes_link').on('click', () => {
          $('#participantes').show();
          $('#conversa').hide();
          $('#participantes_link').addClass('active');
          $('#chat_link').removeClass('active');
        });
      });
    </script>
  </body>
</html>
